e---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}


{% for post in site.research %}
  {% include archive-single.html %}
{% endfor %}

<!-- begin post -->
<div class="card">
    <a href="{{ research.url | absolute_url }}">
        {% if resesarch.image %} <img class="rounded mb-4" src="{{ site.baseurl }}/{{ research.image }}" alt="{{ research.title }}"> {% endif %}
    </a>
    <div class="card-block">
        <h2 class="card-title h4 serif-font"><a href="{{ research.url | absolute_url }}">{{ research.title }}</a></h2>
        <p class="card-text text-muted">{{ research.excerpt | strip_html | truncatewords:15 }}</p>
        <div class="metafooter">
            <div class="wrapfooter small d-flex align-items-center">          
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->
